@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300;400;500;600&display=swap');

:root {
    --sand_cstm: 'Quicksand', sans-serif;
    --oswald_cstm: 'Oswald', sans-serif;
    --color_1: #4070f4;
}

/* Navbar */

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.header_cst {
    padding: 0 4.8rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;

}

.header_cst .logo {
    height: 2.5rem;
}

.navbar-list {
    display: flex;
    gap: 3.8rem;
    list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #212529;
    transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
    color: #364fc7;
}

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon-cst {
    width: 4rem;
    height: 4rem;
    color: #212529;
}

.mobile-nav-icon-cst[name="close-outline"] {
    display: none;
}

/* 980px  */
@media (max-width: 62em) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        border: 3px solid #212529;
        color: #212529;
    }

    .header_cst {
        position: relative;
    }

    .header_cst .logo {
        width: 20%;

    }

    .navbar_cst {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #e7f5ff;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        /* to get the tranisition  */
        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .active .navbar_cst {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon-cst[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon-cst[name="menu-outline"] {
        display: none;
    }
}

/* Below 560px  */
@media (max-width: 35em) {
    .header_cst {
        padding: 0 2.4rem;
    }

    .header_cst .logo {
        width: 20%;
        margin: 0 10px;
        padding: 0 10px;
    }

    #hd_img {
        width: 20%;
        margin: 0 10px;
        padding: 0 10px;
    }
}

.navbar-item-paddig-custom {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-font-cstm {

    font-weight: 500;
    color: black;
    font-size: 20px;
}

.hm-lg-fnt {
    font-size: 56px;
}

.color_hm_1 {
    color: var(--color_1);
}

.cen-cst-hm,
.cen-cst-hm>h2 {
    align-content: center;
    margin: auto;
}

.bt-res-hm {

    background-color: white;
    margin-top: 40px;
    margin-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    color: black;
}

.main-mg-tp {
    margin-top: 120px;
}

#profile-img {
    max-width: 80%;
    height: auto;
}



/* About */
#about {
    margin-top: 125px;
}

#intr-abt {
    margin-top: 25px;
    margin-bottom: 20px;
}

#clip-abt {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    stroke-linecap: butt;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

#clip-abt:hover {
    fill: red;
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    stroke-width: 10;
}


/* SKILLS */


/* Contact */
.contact_logos {

    flex-direction: column;

}

.setD {
    width: 20px;
    height: 20px;
}

.md-logo {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.efc-ohv {
    fill: white;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    stroke-linecap: butt;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.RD:hover {
    fill: red;
}

.BL:hover {
    fill: #4070f4;
}

.efc-ohv:hover {
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    stroke-width: 10;
}

.git-col {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* xLarge */
/* @media all and (min-width:769px) and (max-width:991px) {} */

/* Large */
@media all and (min-width:992px) and (max-width:3000px) {
    .mg-lft-nv {
        margin-left: 30px;
    }



    .nv-ti-mr-cst {
        margin-right: 35px;
    }

    #abt-dtl {
        max-width: 620px;
    }
}

/* Medium */
@media all and (min-width:768px) and (max-width:991px) {
    .nb-mg-tp {
        margin-top: 20px;
    }

    #profile-img {
        max-width: 100%;
        height: auto;
    }

    #svg-spc {

        margin-left: 20px;

    }

    .pro-col {
        flex: 1 0 100%;
    }

    .nav-dark-cst {
        background-color: lightblue;
    }

    .md-logo {
        flex: 0 0 auto;
        width: 9.33333333%;
    }
}

/* Small */
@media all and (min-width: 576px) and (max-width:767px) {
    .nb-mg-tp {
        margin-top: 20px;
    }

    .hm-lg-fnt {
        font-size: 2.5rem;
    }

    #profile-img {
        max-width: 100%;
        height: auto;
    }

    #svg-spc {

        margin-left: 20px;

    }

    .nav-dark-cst {
        background-color: lightblue;
        max-width: 100vw;
        max-height: 100vh;
    }

    #navbarSupportedContent {
        max-width: 100vw;
        max-height: 100vh;
    }

    .md-logo {
        flex: 0 0 auto;
        width: 15%;
    }

}

/* Extra Small */
@media all and (min-width: 100px) and (max-width:576px) {
    .nb-mg-tp {
        margin-top: 20px;
    }

    .hm-lg-fnt {
        font-size: 2rem;
    }

    #profile-img {
        max-width: 110%;
        height: auto;
        margin-right: 10px;
    }

    #svg-spc {

        margin-left: 20px;

    }


    .nav-dark-cst {
        background-color: lightblue;
        max-width: 100vw;
        max-height: 100vh;
    }

    #navbarSupportedContent {
        max-width: 100vw;
        max-height: 100vh;
        /* width: 100%;
        height: 100%; */
    }

    .md-logo {
        flex: 0 0 auto;
        width: 25%;
    }

    .git-stats-ext {
        width: 100%;
    }

    .git-stats-ext img {
        width: 100%;
    }

}